.graphic {
    background-color: tomato;
    border: 0;
    margin: 2em;
}

#dataviz {
    margin-bottom: 80px;
}

#tooltip {
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

div.tooltip {
    display: flex;
    position: absolute;
    width: 200px;
    padding: 8px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: white;
  }